@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-chef20:before {
	content: "\e000";
}
.flaticon-chicken14:before {
	content: "\e001";
}
.flaticon-cooking11:before {
	content: "\e002";
}
.flaticon-covered16:before {
	content: "\e003";
}
.flaticon-covered18:before {
	content: "\e004";
}
.flaticon-restaurant36:before {
	content: "\e005";
}
.flaticon-rice:before {
	content: "\e006";
}
.flaticon-rice2:before {
	content: "\e007";
}
.flaticon-rupees:before {
	content: "\e008";
}
