@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-chef20:before {
	content: "\e000";
}
.flaticon-chicken14:before {
	content: "\e001";
}
.flaticon-clock61:before {
	content: "\e002";
}
.flaticon-cooking11:before {
	content: "\e003";
}
.flaticon-covered16:before {
	content: "\e004";
}
.flaticon-covered18:before {
	content: "\e005";
}
.flaticon-food20:before {
	content: "\e006";
}
.flaticon-go5:before {
	content: "\e007";
}
.flaticon-medal5:before {
	content: "\e008";
}
.flaticon-picnic3:before {
	content: "\e009";
}
.flaticon-restaurant34:before {
	content: "\e00a";
}
.flaticon-restaurant36:before {
	content: "\e00b";
}
.flaticon-rice:before {
	content: "\e00c";
}
.flaticon-rice2:before {
	content: "\e00d";
}
.flaticon-rupees:before {
	content: "\e00e";
}
.flaticon-sandglass1:before {
	content: "\e00f";
}
.flaticon-triangular42:before {
	content: "\e010";
}
.flaticon-water42:before {
	content: "\e011";
}
.flaticon-weighing6:before {
	content: "\e012";
}
.flaticon-wheat10:before {
	content: "\e013";
}
